body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}
main {
  flex: 1;
  background-color: #8b929a;
}

header {
  display: flex;
  background-color: #2a475e;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
  color: beige;
}
a {
  text-decoration: none;
  color: beige;
}

img {
  height: 150px;
  width: 150px;
}
nav {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

footer {
  background-color: #2a475e;
  justify-content: center;
  display: flex;
  color: beige;
}
#solo {
  padding-top: 15px;
}
#logo-img {
  width: 80%;
}
article {
  width: 100%;
  height: 100%;
}
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  gap: 10px;
  margin: auto;
  width: 80%;
}
#sumerien {
  width: 48%;
  height: 25%;
}

@media (max-width: 1000px) {
  section {
    display: flex;
    flex-direction: column;
  }
}
