header {
  display: flex;
  background-color: aquamarine;
  align-items: center;
  justify-content: ;
}

img {
  height: 150px;
  width: 150px;
}
nav {
}
ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
